body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%,
 rgba(25,24,56,1) 6%, rgba(6,6,83,1) 12%, rgba(25,24,56,1) 18%, 
 rgba(2,0,36,1) 24%, rgba(2,0,36,1) 30%, rgba(25,24,56,1) 36%, 
 rgba(6,6,83,1) 42%, rgba(25,24,56,1) 48%, rgba(2,0,36,1) 54%, 
 rgba(2,0,36,1) 60%, rgba(25,24,56,1) 66%, rgba(6,6,83,1) 72%, 
 rgba(25,24,56,1) 78%, rgba(2,0,36,1) 84%, rgba(2,0,36,1) 90%, 
 rgba(6,6,83,1) 95%, rgba(6,6,83,1) 100%);
}

nav,
p {
  font-family: 'Ubuntu', sans-serif;
}

main p {
  color: #f0f4ff;
  font-size: 15px;
}

.legende {
  color: #170f0f;
}

footer p {
  color: #e5c6c6;
}

nav {
  color: #6d1e17;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3 {
  font-family: 'Zen Dots', sans-serif;
  color: #909ab3;
  text-transform: uppercase;
  letter-spacing: 0.26em;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center;
}

h2 {
  text-align: right;
  margin-bottom: 0;
  padding: 0;
}

h3 {
  margin-bottom: 0;
  padding: 0;
}

.mirror {
  color: #242942;
  margin-top: 0;
  padding: 0;
  transform: rotateX(180deg);
}
 
.projekte {
  display: flex;
  flex-direction: row;
  align-items: center;
}

