body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

nav,
p {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3 {
  font-family: 'Zen Dots', sans-serif;
}
 